# Aiken compilation artifacts
artifacts/
# Aiken's project working directory
build/
# Aiken's default documentation export
./docs/

node_modules/

.env

blueprint-rs

*.cbor
*.db*


code-search*
.claude/settings.local.json
prompt.md
planner-prompt.md
team-prompt.md
.env-main
.env-preprod
.env-preview
.env-preprod
get_reserve_v2_hash.sh
