* @midnightntwrk/mn-security @midnightntwrk/mn-codeowners-node @midnightntwrk/mn-codeowners-smart-contracts
/cli/ @midnightntwrk/mn-security @midnightntwrk/mn-codeowners-smart-contracts
/lib/ @midnightntwrk/mn-security @midnightntwrk/mn-codeowners-smart-contracts
/validators/ @midnightntwrk/mn-security @midnightntwrk/mn-codeowners-smart-contracts
/.github/ISSUE_TEMPLATE/ @midnightntwrk/mn-security @midnightntwrk/mn-sre
/.github/PULL_REQUEST_TEMPLATE/ @midnightntwrk/mn-security @midnightntwrk/mn-sre
/.github/workflows/checkmarx.yaml @midnightntwrk/mn-security @midnightntwrk/mn-sre
/.github/workflows/dependabot.yml @midnightntwrk/mn-security @midnightntwrk/mn-sre
CODE_OF_CONDUCT.md @midnightntwrk/mn-security @midnightntwrk/mn-sre
CODEOWNERS @midnightntwrk/mn-security @midnightntwrk/mn-sre
CONTRIBUTING.md @midnightntwrk/mn-security @midnightntwrk/mn-sre
LICENSE @midnightntwrk/mn-security @midnightntwrk/mn-sre
SECURITY.md @midnightntwrk/mn-security @midnightntwrk/mn-sre
